:root {
	--body-color: #EDEBF7;
	--second-color: #7a6bc5;
	--third-color: #ffffff; 
	--box-radius: 20px;
}

body {
	font-family: 'Roboto';
	margin-left: 10px;
}

.container-project {
	background: var(--second-color);
	color: white;
	text-align: center;
	padding: 10px 10px;
	font-size: 16px;
	border-radius: var(--box-radius);
	max-width: 100%;	
}

.home {

	margin-left: 20px;
	color: white;
	text-decoration: none;
}

.container-weather {
	margin-left: 120px;
	margin-right: 40px;

}

.weather-text {
	margin-top: 60px;
	margin-right: 100px;
	margin-left: 40px;
}

.container-cats {

	padding-left: 120px;
	padding-right: 40px;
}

.cats-text {
	margin-top: 60px;
	margin-right: 160px;
}


.container-button {
	margin-top: 10px;
}

.button1 {
	padding: 10px;
	background: var(--third-color) !important;
	color: var(--second-color);
	text-align: center;
	border-radius: var(--box-radius);
	width: 200px;
}

.button2 {
	padding: 10px;
	background: var(--third-color) !important;
	color: var(--second-color);
	text-align: center;
	border-radius: var(--box-radius);
	width: 200px;
	margin-left: 20px;

}

.button3 {
	padding: 10px;
	background: var(--third-color) !important;
	color: var(--second-color);
	text-align: center;
	border-radius: var(--box-radius);
	width: 200px;
	margin-left: 20px;
		
}

.btn-contact {
	color: var(--second-color);
	border-radius: var(--box-radius);
	padding: 10px 20px;
}

.button2-next {
	padding: 10px 80px;
	border-radius: var(--box-radius);
	color: var(--second-color);
	text-align: center;
	background: var(--third-color) !important;
	display: inline-block;
	margin-top: 20px;
		
}

.button-text-index {
	padding: 15px 20px;
	display: inline-block;
	border-radius: var(--box-radius);
	

}

.button-text-index-inside {
	color: var(--second-color);
	text-decoration: none;
	
}

.button-text-work {
	padding: 15px 20px;
	border-radius: var(--box-radius);
	text-align: center;
	display: inline-block;	
	

}

.button-text-work-inside {

	color: var(--second-color);
	text-decoration: none;
}

.button-text-work-inside:hover {

	color: var(--second-color);
	text-decoration: none;
}




.button-contact {
  text-decoration: none;
  color: var(--second-color);
}

.button-link:hover {
	text-decoration: none;
	color: var(--second-color);
}

.container-about-began {
display: block;
height: 420px;
width: 100%;
background: var(--body-color);
border-radius: var(--box-radius);
}

.container {
	margin-bottom: 80px;
}

.work-img {
	max-width: 100%;
	height: auto;
	border-radius: var(--box-radius);

}
/* .all-about-text {
	padding-left: 160px;
	padding-right: 60px;
} */

.image-index-began {
	max-width: 420px;
    height: auto;
	border-radius: var(--box-radius);
}

.other-img {

	max-width: 100%;
	height: auto;
	border-radius: var(--box-radius);	box-sizing: border-box;
	margin-left: -20px;
}

#cats-img {
	margin-left: -100px;
}


img {
	vertical-align: middle;

}

.all-about-text {
	padding-right: 80px;
	margin-top: 40px;
}
.name {
	color: var(--second-color);
	margin-top: 20px;
}

.front-end {
	opacity: 0.6;
}

#name-full {
   font-weight: bold;
}

.text-about {
	margin-top: 20px;
	font-size: 18px;
	font-weight: bold;
}


.bold-contact {
	font-weight: bold;
}

.bold-contact-fill {
	margin-left: 180px;
}

.bold {
	font-size: 72px;
	font-weight: bold;
}

#contact {
	font-size: 22px;
}

.bar-contact {
	margin-top: 60px;
	padding: 30px 30px;
	margin-left: 110px;
	margin-right: 120px;
	background: var(--second-color);
	border-radius: var(--box-radius);
}

.bar-text {
	color: var(--third-color);
	margin-left: 80px;
}
.bar-text-work {
	font-size: 48px;
}
.bar-text-work-let {
	margin-left: 10px;
}

.bar-but {
	background: var(--third-color);
	padding: 25px 40px;
	font-size: 18px;
    line-height: 27px;
	border-radius: var(--box-radius);
	text-align: center;
	margin-top: 10px;
	margin-left: 240px;


}

.bar-button-contact {
	text-decoration: none;
	color: var(--second-color);

	display: inline-block;
    vertical-align: middle;
	
}

.email-index {
	text-align: center;
	font-weight: bold;
	margin-top: 60px;
}
.container-cosial-index {
	margin-top: 60px;
	margin-bottom: 30px;
}

.border-icon-cosial-contact {
	color: var(--second-color);	
	background: var(--body-color);
	padding: 15px 20px 0px;
	padding-bottom: 15px;
	border-radius:50%;
	transition: all 100ms ease-in-out;
	font-size: 32px;

}

.border-icon-cosial-contact:hover{
	background: var(--second-color);
	color: var(--third-color);
}


@media (max-width: 576px) {

	.button3,
	.button1,
	.button2 {
		max-width: 100px;
		margin-top: 20px;
	}

	.button-link:hover {
	text-decoration: none;
	color: var(--second-color);
	}

	.img-fluid {
        max-width: 100%;
        height: auto;
    }

	.other-img {
		margin-left: -10px;
	}	
	.container-about-began {
		margin-bottom: 140px;
	}
	
	.cats-text, .weather-text {
		padding-left: 0px;
		padding-right: 0px;
		margin-left: -40px;
		margin-right: 0px;
	}	

	.container-cosial-index {
	margin-top: 30px;
	}
	.bar-contact {
	margin-top: 40px;
	padding: 30px 30px;
	margin-left: 0px;
	margin-right: 0px;
	background: var(--second-color);
	border-radius: var(--box-radius);
	max-width: 100%;
	}

	.bar-text {
	color: var(--third-color);
	text-align: center;
	margin-left: 0;

	}
	.bar-text-work {
	font-size: 36px;
	}
	.bar-text-work-let {
	margin-left: 0px;
	}

	.bar-but {
		margin-left: 0px;
		max-width: 100%;
		display: block;
		
	}

	.bold-contact-fill {
		margin-left: 20px;
		margin-right: 20px;
	}
	
}

@media (max-width: 900px) {

	.container-page-about {
		text-align: center;
	}
 	.button2-next {
		 margin-bottom: 20px;	 
	 }
	 
	 .all-about-text {
	padding-left: 0px;
	padding-right: 0px;
	padding: 20px 20px;
	
	}  

	.cats-text, .weather-text {
		padding-left: 0px;
		padding-right: 0px;
		margin-left: -40px;
		margin-right: 0px;
	}	
}

@media (min-width: 576px) {

	.container {
		
	max-width: 540px;
	}
	.button3,
	.button1,
	.button2 {
		max-width: 100px;
		margin-top: 20px;
	}

	

}


@media (min-width: 768px) {

    .container {
        
    max-width: 720px;
    }

	
    
}

@media (min-width: 900px) {

    .container {
        
    max-width: 900px;
    }
		.other-img {
		margin-left: -10px;
	} 
}

@media (min-width: 1200px) {

    .container {    
    max-width: 1200px;
    }  
	
	
}















